<form [formGroup]="form" (ngSubmit)="enviar()">

  <input type="email" formControlName="email" />
  <input type="password" formControlName="password"/>
  <button type="submit" [disabled]="form.invalid">Aceptar</button>
  <button (click)="reset()">reset</button>
</form>

{{ form.status | json }}
